<template name="profileEdit">
    {{> profilePanel}}

    <div class="container profile-edit">
        {{!--
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 top-margin">
                    <div class="row border-bottom">
                        <div class="col-lg-6">
                            <div class="btn btn-default pull-left togglePwd">
                                {{#unless Session 'pwd'}}
                                    Zum MyPass-Profil
                                {{else}}
                                    Verbergen MyPass-Profil
                                {{/unless}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-default btn-red pull-right logOut" >Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            {{#if Session 'pwd'}}
                {{> passwordForm}}
            {{/if}}
        --}}
        <div class="row top-margin">
            <div class="col-lg-6 col-lg-offset-3 border-bottom">
                <form name="avatarForm" class="avatarForm">
                    <legend>Profilbild</legend>
                    <p>Hier kannst Du ein Profilbild hochladen</p>
                    <div class="col-lg-12">
                        <div class="file form-group optional">
                            <input accept="image/jpg, image/jpeg" class="btn btn-default form-control" id="avatar" name="avatar" type="file" />
                        </div>
                    </div>
                    <input class="btn btn-green col-lg-6 col-lg-offset-6" name="commit" type="submit" value="Avatar hochladen" />
                </form>
            </div>
        </div>

        <div class="row top-margin">
            <div class="col-lg-6 col-lg-offset-3 border-bottom">
                <form name="addressForm" class="addressForm">
                    <legend>Meine Daten</legend>
                    <p>Falls Du eine Mission gewinnst oder wir ein Foto von Dir kaufen möchten, benötigen wir für die Abrechnung Deine Adresse.</p>
                    <div class="col-lg-12">
                        <div class="string form-group optional stringish" id="address_street_input">
                            <input class="form-control" id="street" name="street" placeholder="STRASSE UND HAUSNUMMER" required="required" type="text" value="{{userInfo.profile.street}}">
                            <div class="form-errors"></div>
                        </div>
                        <div class="string form-group optional stringish" id="address_plz_input">
                            <input class="form-control" id="plz" name="plz" placeholder="PLZ" required="required" type="text" value="{{userInfo.profile.plz}}">
                            <div class="form-errors"></div>
                        </div>
                        <div class="string form-group optional stringish" id="address_city_input">
                            <input class="form-control" id="city" name="city" placeholder="ORT" required="required" type="text" value="{{userInfo.profile.city}}" />
                            <div class="form-errors"></div>
                        </div>
                    </div>
                    <button class="btn btn-green col-lg-6 col-lg-offset-6" type="submit">Addressdaten speichern</button>
                </form>
            </div>
        </div>

        <div class="row top-margin">
            <div class="col-lg-6 col-lg-offset-3">
                <legend>Bankverbindung</legend>
                <p>Bitte wähle hier, wie Du Deinen Gewinn oder Dein Honorar erhalten möchtest.</p>
                <div class="col-lg-12">
                    <div class="radio form-group optional" id="billing_information_type_input">
                        <div class="choices-group">
                            <div class="choice">
                                <label>
                                    <input class="payInfo" id="type_paypal" name="type" type="radio" value="paypal" {{$isChecked 'paypal' payInfo}} />Paypal
                                </label>
                            </div>
                            <div class="choice">
                                <label>
                                    <input class="payInfo" id="type_bank" name="type" type="radio" value="bank"  {{$isChecked 'bank' payInfo}} />Bank
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="string form-group optional stringish">

                        <form name="paypalForm" class="paypalForm{{#if $neq payInfo 'paypal'}} hide{{/if}}">
                            <div class="string form-group optional stringish">
                                <input class="form-control" id="paypal_email" name="paypalEmail" placeholder="PAYPAL-EMAIL" type="email" value="{{userInfo.profile.paypalEmail}}">
                                <div class="form-errors"></div>
                            </div>
                            <input class="btn btn-green col-lg-6 col-lg-offset-6" name="commit" type="submit" value="Kontodaten speichern">
                        </form>

                        <form name="bankForm" class="bankForm{{#if $neq payInfo 'bank'}} hide{{/if}}">
                            <div class="string form-group optional stringish">
                                <input class="form-control" id="iban" name="iban" placeholder="IBAN" type="text" value="{{userInfo.profile.iban}}">
                                <div class="form-errors"></div>
                            </div>
                            <div class="string form-group optional stringish">
                                <input class="form-control" id="swift_code" name="swiftCode" placeholder="BIC" type="text" value="{{userInfo.profile.swiftCode}}">
                                <div class="form-errors"></div>
                            </div>
                            <input class="btn btn-green col-lg-6 col-lg-offset-6" name="commit" type="submit" value="Kontodaten speichern">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
