<template name="missionsBanner">
    <div id="teasers" class="big-teaser">
        <div class="teaser-carousel">
            <div class="carousel slide">

                {{#if $gt missions.length 1}}
                    <ol class="carousel-indicators light">
                        {{#each $mapped  missions}}
                            <li class="{{#if $first}}active{{/if}}" data-target="{{$index}}" style="background-image: url(/uploads/missions/thumb_fill_768x264_{{bg.name}}_brand_logo_{{bg.time}}.jpg);">
                            </li>
                        {{/each}}
                    </ol>

                    <a class="left carousel-control" role="button" data-slide="prev">
                        <span class="icon-prev sprite-pfeil_links_mouseover_80x90"></span>
                    </a>

                    <a class="right carousel-control" role="button" data-slide="next">
                        <span class="icon-next sprite-pfeil_rechts_mouseover_80x90"></span>
                    </a>
                {{/if}}

                <div class="carousel-inner" role="listbox">
                    {{#each $mapped missions}}
                        <div class="item{{#if $first}} active{{/if}}">
                            <div class="teaser-slide">
                                <a href="{{pathFor 'missionItem'}}">
                                    <img alt="" class="teaser-image" bh-src-responsive="[['(max-width: 767px)', teaser.graphics.thumb_fill_768x264], ['(min-width: 768px) and (max-width: 991px)', teaser.graphics.thumb_fill_992x341], ['(min-width: 992px) and (max-width: 1199px)', teaser.graphics.thumb_fill_1200x413], ['(min-width: 1200px)', teaser.graphics.thumb_fill_1680x578]]" src="/uploads/missions/thumb_fill_1680x578_{{bg.name}}_brand_logo_{{bg.time}}.jpg">
                                    <div class="carousel-caption light">
                                        <h3 class="ng-binding">{{name}}</h3>
                                        <p class="ng-binding"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="menu-overline visible-lg"></div>
    </div>
</template>
