<template name="missionsBanner">
    <div id="teasers" class="big-teaser">
        <div class="teaser-carousel">
            <div class="carousel slide">

                {{#if $gt missions.length 1}}
                    <ol class="carousel-indicators light hidden-sm hidden-xs">
                        {{#each $mapped  missions}}
                            <li class="{{#if $first}}active{{/if}}" data-target="{{$index}}" style="background-image: url({{responsiveImg teaser true}});">
                            </li>
                        {{/each}}
                    </ol>

                    <a class="left carousel-control hidden-sm hidden-xs" role="button" data-slide="prev">
                        <span class="icon-prev sprite-pfeil_links_mouseover_80x90"></span>
                    </a>

                    <a class="right carousel-control hidden-sm hidden-xs" role="button" data-slide="next">
                        <span class="icon-next sprite-pfeil_rechts_mouseover_80x90"></span>
                    </a>
                {{/if}}

                <div class="carousel-inner" role="listbox">
                    {{#each $mapped missions}}
                        <div class="item{{#if $first}} active{{/if}}">
                            <div class="teaser-slide">
                                <a href="{{pathFor 'missionItem'}}">
                                    <img alt="{{name}}" class="teaser-image" src="{{responsiveImg teaser}}" />
                                    <div class="carousel-caption light">
                                        <h3 class="ng-binding">{{name}}</h3>
                                        <p class="ng-binding"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="menu-overline visible-lg"></div>
    </div>
</template>
