<template name="missionListItem">
    <div>
        <div class="mission-teaser">
            {{#if $eq mode 'upload'}}
                <a href="{{addMissionPhoto ../_id}}">
                    <img class="mission-teaser-img" src="/uploads/missions/thumb_fill_640x220_{{../listBg.name}}_header_image_{{../listBg.time}}.jpg">
                </a>
            {{/if}}
            {{#if $neq mode 'upload'}}
                <a href="{{pathFor 'missionItem' _id=../_id}}">
                    <img class="mission-teaser-img{{#if ../ended}} mission-teaser-img-ended{{/if}}" src="/uploads/missions/thumb_fill_640x220_{{../listBg.name}}_header_image_{{../listBg.time}}.jpg">
                </a>
            {{/if}}
            <div class="mission-subtitle">
                <div class="clearfix">
                    <div class="pull-left">
                        <ul class="figures">
                            {{#unless ../ended}}
                                <li>
                                    <img alt="Ic mission fotos klein 38x30" class="figure-icon" src="/img/ic_mission_fotos_klein_38x30.png">
                                    <h6>
                                        <span class="count ng-binding">{{../uploadsQty}}</span>
                                        <span class="topic">Uploads</span>
                                    </h6>
                                </li>
                                <li>
                                    <img alt="Ic mission zeit klein 38x30" class="figure-icon" src="/img/ic_mission_zeit_klein_38x30.png">
                                    <h6>
                                        <span class="count ng-binding">{{timeLeft ../to 'number'}}</span>
                                        <span class="topic ng-binding">{{timeLeft ../to 'period'}}</span>
                                    </h6>
                                </li>
                            {{/unless}}
                            <li>
                                <img alt="Ic mission gewinn klein 38x30" class="figure-icon" src="/img/ic_mission_gewinn_klein_38x30.png">
                                <h6 ng-if="mission.reward.type == 'Geld'" class="ng-scope">
                                    <span class="count ng-binding">{{#if ../prizeQty}}{{../prizeQty}}x{{/if}}{{../prize}}</span>
                                    <span class="topic">{{#if $eq ../prizeType 'money'}}EURO{{/if}}{{#if $eq ../prizeType 'coupons'}}GUTSCHEINE{{/if}}</span>
                                </h6>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right text-right">
                        {{#if $eq mode 'upload'}}
                            {{#unless ../ended}}
                                <a class="select-link" href="{{addMissionPhoto ../_id}}">
                                    <div class="btn btn-green">Aktionen auswählen</div>
                                </a>
                            {{/unless}}
                        {{/if}}
                        {{#if $neq mode 'upload'}}
                            <a class="select-link" href="{{pathFor 'missionItem'  _id=../_id}}">
                                <div class="btn {{#if ../ended}}btn-gray{{else}}btn-green{{/if}}">Zur Aktionen</div>
                            </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
