<template name="themeItemMobile">
    <div class="theme-mobile-top"></div>
    <a class="upload-btn" href="{{addThemePhoto theme._id}}">+</a>
    <div class="theme-sort">
        <a data-sort="latest" class="order {{#if $.Session.equals 'sortBy' 'latest'}}active{{/if}}">
            <span class="latest">Neueste</span>
        </a>
        <a data-sort="top" class="order {{#if $.Session.equals 'sortBy' 'top'}}active{{/if}}">
            <span class="top">Beliebteste</span>
        </a>
    </div>
</template>
