.mobile {
    #search-bar {
        padding: 0;
        top: 0;
        height: 60px;
        z-index: 1031;
        background: #ffffff;

        .container {
            padding: 0;
        }

        .go-back {
            display: block;
            float: left;
            width: 45px;
            height: 60px;
            margin: -10px 0 0 -15px;
            background-image: url(/img/m-arrow-prev.svg);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        ul#search-tags {
            background-color: #ebebeb;
            padding: 0;
            margin: 10px 0 0 30px;
            display: block;
            height: 40px;
            width: auto;
            overflow: hidden;

            li.search-icon {
                margin: 10px;
            }

            li.tag {
                padding: 0;
                margin: 5px 10px 5px 0;
                font-size: 16px;
                background-color: rgba(144, 144, 144, 0.3);
                color: #414141;
                line-height: 1;

                span {
                    padding: 0 10px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            li.input input[type=text] {
                font-size: 16px;
                padding: 8px 10px 8px 0px;
                margin: 5px 0;
            }
        }

        ul#search-query-suggest {
            top: 60px !important;
            left: 15px !important;
            margin: 0 !important;
            width: auto;
            right: 14px !important;
            z-index: 50;

            li {
                padding: 15px;
            }
        }
    }

    .search-pillow {
        padding: 5px 0 0;
    }
}
