.category.mobile {
    padding: 15px;

    .categories-wrapper {
        padding: 0;

        .categories .cat .title {
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            text-transform: none;

            span {
                padding: 0 10px;
                text-align: center;
            }
        }
    }
}
.theme-mobile-top {
    padding: 62px 0 0;
}
.mobile {
    .theme-sort {
        @extend .mission-sort;
        @include position(fixed, 60px null null 0);
        z-index: 1;

        a.active {
            color: #fff;
            background-color: rgba(168, 201, 53, 0.95);

            span.latest:before {
                background-image: url(/img/m-clock-white.svg);
            }
            span.top:before {
                background-image: url(/img/m-heart-white.svg);
            }
        }
    }
}
