<template name="pickUsername">
    <div class="container set-username">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
            <form class="username-form">
                <legend>Bitte geben Sie Ihren Benutzername</legend>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Benutzername" />
                </div>
                <button class="btn btn-green pull-right">Speichern</button>
            </form>
        </div>
    </div>
</template>
