<template name="followUser">
    <div class="row">
        {{#each users}}
            <div class="user col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="user-wrapper">
                    <div class="pull-left">
                        <div class="user-avatar">
                            <a href="/users/{{username}}">
                                <img class="avatar-image" src="{{avatar this.avatar._id 'avatars'}}" width="100" height="100" />
                            </a>
                        </div>
                    </div>
                    <div class="user-info pull-right">
                        <p class="nickname">{{username}}</p>
                        <p class="follow-button-wrapper">
                            {{#if $eq currentUser.username userInfo.username}}
                                <div data-username="{{username}}" class="followingMe follow-button small disabled">Folge ich</div>
                            {{else}}
                                {{#if $neq currentUser.username username}}
                                    {{#if $isFollowed _id}}
                                        <div data-username="{{username}}" class="followingMe follow-button small disabled">Folge ich</div>
                                    {{else}}
                                        <div data-username="{{username}}" class="followingMe follow-button small">Folgen</div>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>
