<template name="carousel">
    <div class="overlay overlay-closable-area">
        <div class="overlay-content">
            <a class="close"></a>

            <div class="photo-carousel">
                {{#unless $or currentUser conversionClosed}}
                    <div>
                        <div id="conversion-banner" class="container hidden-xs hidden-sm">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 conversion-banner-image"></div>
                                <div class="col-lg-7 col-md-7">
                                    <a href="" class="pull-right conversion-banner-close"></a>
                                    <p class="conversion-banner-text">
                                        Geh mit uns auf Mission:<br>
                                        Stell dich täglich neuen Foto- und Video-Herausforderungen!
                                    </p>
                                    <ul class="list-inline list-unstyled conversion-banner-buttons">
                                        <li><a href="/sign-up" class="to-register-button">Kostenlos registrieren</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/unless}}

                <div id="photoCarousel" class="carousel slide">
                    {{#if manySlides}}
                        <a class="left carousel-control" {{containerSize}} data-slide="prev"></a>
                        <a class="right carousel-control" {{containerSize}} data-slide="next"></a>
                    {{/if}}
                    <div class="carousel-inner">
                        {{#each shares}}
                            <div class="item {{#if $eq _id ../currentId}}active{{/if}}" data-id="{{_id}}">
                                <div class="carousel-slide-content col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                    <div class="photo-container">
                                        <div class="photo-container-wrapper{{#if $eq type 'video'}} video{{/if}}" {{containerSize}}>
                                            {{#if $eq type 'img'}}
                                                <img class="zoombox-image slide-image" src="{{getImage 'ShareFiles' source._id 'shares'}}">
                                            {{/if}}
                                            {{#if $eq type 'video'}}
                                                <video src="{{getImage 'ShareVideo' source._id 'share-video'}}" preload="metadata" volume="0.5" controls>
                                                    <div class="not-suported">Video is not supported. You can download the video <a href="{{getImage 'ShareVideo' source._id 'share-video'}}">here</a>.</div>
                                                </video>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="slide-container-footer">
                                        <div class="{{#unless isMobileDevice}}row{{/unless}} clearfix">
                                            <div class="col-lg-2 col-md-2 col-md-offset-0 col-sm-4 col-xs-4">
                                                <div class="pull-right">
                                                    <div class="user-avatar">
                                                        <a href="{{pathFor 'profile'}}">
                                                            <img class="avatar-image" src="{{userAvatar userId 'white'}}" width="50" height="50">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 caption-content">
                                                <div class="caption">
                                                    <h4>
                                                        <a class="nickname" href="{{pathFor 'profile'}}">{{username}}</a>
                                                        <span class="date-indication">{{since time}}</span>
                                                    </h4>
                                                    {{#if $gt likesQty 0}}
                                                        <div class="like-overview">
                                                            <span>{{likesQty}}</span>
                                                            <span>User{{#if $gt likesQty 1}}n{{/if}} gefällt das</span>
                                                        </div>
                                                    {{/if}}
                                                    <div>
                                                        <p class="ellipsis">
                                                            <span class="ellipsis-preview">{{cutString description 75}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                {{#unless isMobileDevice}}
                                                    {{> pixTags}}
                                                {{else}}
                                                    <div class="photo-actions">
                                                        {{> pixBtns}}
                                                    </div>
                                                {{/unless}}
                                            </div>

                                            {{#if isMobileDevice}}
                                                <div class="clearfix"></div>
                                                <div class="col-sm-12 col-xs-12">
                                                    {{> pixTags}}
                                                </div>
                                            {{else}}
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-offset-3 col-xs-12 col-xs-offset-3 col-md-offset-0 photo-actions">
                                                    {{> pixBtns}}
                                                </div>
                                            {{/if}}

                                        </div>

                                        <div class="photo-overlay share-screen {{#if $neq photoAction 'share'}}hide{{/if}}">
                                            {{#if $eq _id ../currentId}}
                                                <div class="photo-share-bar">
                                                    {{>shareit shareData}}
                                                </div>
                                            {{/if}}
                                        </div>

                                        <div class="photo-overlay delete-screen {{#if $neq photoAction 'delete'}}hide{{/if}}">
                                            <div>
                                                <p class="success-msg {{#unless deleteSuccessMessage}}hide{{/unless}}">
                                                    {{deleteSuccessMessage}}
                                                </p>
                                                <p class="error-msg {{#unless deleteErrorMessage}}hide{{/unless}}">
                                                    {{deleteErrorMessage}}
                                                </p>
                                                <div class="{{#if $or deleteErrorMessage deleteSuccessMessage}}hide{{/if}}">
                                                    <p class="button-caption">Foto wirklich löschen?</p>

                                                    <div class="clearfix actions">
                                                        <a class="btn btn-default btn-lg pull-right delete-btn">Ja{{#unless isMobileDevice}}, wirklich löschen{{/unless}}</a>
                                                        <a class="btn btn-default btn-lg pull-left cancel-btn">Nein{{#unless isMobileDevice}}, Foto nicht löschen{{/unless}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="photo-overlay flagging-screen {{#if $neq photoAction 'flag'}}hide{{/if}}">
                                            <div>
                                                <p class="success-msg {{#unless flagSuccessMessage}}hide{{/unless}}">
                                                    {{flagSuccessMessage}}
                                                </p>

                                                <div class="{{#if flagSuccessMessage}}hide{{/if}}">
                                                    <p class="button-caption">Foto melden:</p>

                                                    <div class="container">
                                                        <ul class="flagging-options">
                                                            <li class="col-xs-12 col-md-4 col-lg-3">
                                                                {{#if blocked}}
                                                                    <a data-block="0" class="btn btn-default btn-lg block">Unblock it</a>
                                                                {{else}}
                                                                    <a data-block="1" class="btn btn-default btn-lg block">Block it</a>
                                                                {{/if}}
                                                                <a class="btn btn-default btn-lg cancel-btn">Abbrechen</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
