<template name="pix">

    {{#if displayFilters}}
        {{#if $or shares.count shares.length}}
            {{#unless isMobileDevice}}
                <div class="container order-selection">
                    <a data-sort="top" class="pull-right order-selector order-newest {{#if $.Session.equals 'sortBy' 'top'}}active{{/if}}">
                        Best bewertet
                    </a>
                    <a data-sort="latest" class="pull-right order-selector order-newest {{#if $.Session.equals 'sortBy' 'latest'}}active{{/if}}">
                        Neueste
                    </a>
                </div>
            {{/unless}}
        {{/if}}
    {{/if}}

    <div class="container gallery-photos">
        <div class="gallery row">
            {{#each $mapped columns}}
                <div class="col-lg-3 col-md-3 col-sm-4 {{#if $eq columnsQty 1}}col-xs-12{{else}}col-xs-6{{/if}}">
                    {{#each $mapped ../shares}}
                        {{#if inColumn ../key $index}}
                            <div class="photo-thumb showShare{{#if $eq type 'video'}} video{{/if}}{{#if blocked}} blocked{{/if}}" data-id="{{_id}}">
                                {{#unless isMobileDevice}}
                                <div class="thumb-overlay">
                                    <div class="caption">
                                        <div class="avatar pull-left">
                                            <div class="user-avatar">
                                                <a href="{{pathFor 'profile'}}">
                                                    <img class="avatar-image" src="{{userAvatar userId}}" width="58" height="58">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="message">
                                            <h6>
                                                <a href="{{pathFor 'profile'}}">{{username}}</a>
                                                <span class="rating">❤</span>
                                                <span class="ratings-count">({{likes.length}})</span>
                                            </h6>

                                            <p>{{cutString description 200}}</p>
                                        </div>
                                    </div>
                                </div>
                                {{/unless}}
                                {{#if $eq type 'img'}}
                                    <img class="thumb" data-id="{{source._id}}" src="{{getImage 'ShareFiles' source._id 'shareThumbs'}}" />
                                {{/if}}
                                {{#if $eq type 'video'}}
                                    <img class="thumb" data-id="{{source._id}}" src="{{getImage 'ShareVideo' source._id 'share-video-thumb'}}" />
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>

    {{#if show}}
        {{> carousel shares=shares currentId=show active=active}}
    {{/if}}
</template>
