<template name="profile">
    {{> profilePanel}}
    <div class="plain" id="gallery-container">
        {{#if userInfo.uploads}}
            {{> pix shares=shares displayFilters=displayFilters}}
            {{> moreResults isMore=moreResults}}
        {{else}}
            <div class="empty-placeholder">
                <div class="message">
                    <p>Dieser User hat noch nichts hochgeladen.</p>
                </div>
            </div>
        {{/if}}
    </div>
    {{#if isMobileDevice}}
        <a class="upload-btn" href="{{pathFor 'addPhoto'}}">+</a>
    {{/if}}
</template>
