@import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon";
@import "mobile/all";

body.mobile {
    @include transition(transform 0.4s ease-in-out);

    .navbar-fixed-top {
        height: 60px;
        border: none;
        margin: 0;
        box-shadow: 0px 1px 2px 0px rgba(0, 1, 1, 0.15);
        .row {
            background: #fff;
        }
    }

    .navbar-toggle {
        float: left;
        margin: 13px 5px 8px 5px;
        border: none;

        .icon-bar{
            background: #414141;
            width: 24px;
            border-radius: 0;
            margin-bottom: 5px;
        }
    }

    .navbar-brand {
        @include size(250px 60px);
        line-height: 60px;
        display: block;
        padding: 0;
        float: none;
        margin: 0 auto;
        text-align: center;
        img {
            @include size(147px 27px);
            display: inline-block;
        }
    }

    .navbar-page {
        @include size(200px 60px);
        margin: 0 auto;
        padding: 0;
        font: {
            family: Roboto;
            size: 22px;
            weight: 500;
        }
        text-align: center;
        line-height: 60px;
        color: #414141;
    }

    .notifications {
        @include size(40px);
        display: block;
        padding: 6px 0;
        margin: 10px 15px;
        float: right;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        -webkit-font-smoothing: antialiased;
        background: #a0c422;
        color: #fff;
        border-radius: 50%;
        text: {
            align: center;
            decoration: none;
        }
    }

    .notification-list-wrap {
        @include transform(translateY(-100%));
        @include transition(transform 0.3s ease-in-out, visibility 0s 0.3s linear);
        display: block;
        visibility: hidden;
        margin: 0;
        z-index: -1;

        &.active {
            @include transform(translateY(0));
            @include transition(transform 0.3s ease-in-out, visibility 0s linear);
            visibility: visible;
        }
    }

    .my-settings {
        @include size(60px);
        padding: 15px 15px;
        display: block;
        float: right;

        &:before {
            @include size(30px);
            content: '';
            display: block;
            background-image: url(/img/m-settings.svg);
            background-size: 30px 30px;
        }
    }

    #content {
        background: #f5f5f5;
        padding: 60px 0 0;
        position: relative;
        z-index: 2;
        min-height: 640px;
        box-shadow: 0 0 10px 5px rgba(0, 1, 1, 0.15);
    }

    .big-teaser .carousel-caption {
        bottom: 0;
        left: 5%;
        right: 5%;

        h3 {
            font-size: 30px;
        }
    }

    .darkBg {
        box-shadow: 0px 0px 2px 0px rgba(0,1,1,0.2);
    }

    #category-navbar {
        height: 54px;

        li {
            height: 54px;
            a {
                padding: 18px 20px;
                height: 54px;
                &.active {
                    border-bottom: 2px solid #a0c422;
                }
            }
        }
    }

    #gallery-container {
        padding-bottom: 0;
        min-height: 350px;
        .gallery-photos {
            padding-top: 10px;
        }
    }

    .gallery .photo-thumb {
        margin: 0 0 15px 0;
    }

    .upload-btn {
        @include position(fixed, null 15px 20px null);
        @include size(60px);
        padding: 11px 0;
        line-height: 1;
        font-size: 38px;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 2px rgba(0, 1, 1, 0.25);
        box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
        background: #a0c422;
        border-radius: 50%;
        z-index: 1040;

        &:active {
            text-decoration: none;
            box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
        }
        &:focus {
            outline: none;
            text-decoration: none;
        }
    }

    .overlay {
        z-index: 1050;
        background: #171717;
        .overlay-content {
            padding-top: 20px;
        }

        .slide-container-footer {
            padding: 10px 0 0px 0;

            .tags {
                margin-left: 0;
            }
            .photo-actions {
                margin: 0;
            }
        }

    }

    .mission-teaser {
        margin-top: 15px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 2px 4px 0px rgba(0, 1, 1, 0.15);
        overflow: hidden;

        .mission-subtitle {
            padding: 20px 20px 0px;
        }

        .name {
            margin: 0;
            font-family: Roboto;
            color: #414141;
            font-size: 22px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
        }

        .description {
            font-family: Roboto;
            color: #414141;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            text-align: left;
            margin: 15px 0;
        }

        .mission-btn {
            margin: 0 -20px -20px;
            background-color: #a0c422;
            height: 60px;
        }

        .select-link {
            display: block;
            margin-right: 120px;
            font: {
                family: Roboto;
                size: 20px;
                weight: 400;
            }
            text: {
                decoration: none;
                align: center;
            }
            line-height: 60px;
            color: #ffffff;
        }

        .mission-info {
            @include size(120px 60px);
            float: right;
            color: rgba(65, 65, 65, 0.8);
            font-family: Roboto;
            font-weight: 400;
            line-height: 30px;

            .prize-icon {
                height: 30px;
                background-color: #d9eb9b;
                padding-left: 30px;
                position: relative;

                &:before {
                    @include position(absolute, 5px null null 6px);
                    @include size(20px);
                    content: '';
                    background-image: url(/img/m-money.svg);
                    background-size: 20px 20px;
                }
            }

            .time-icon {
                @extend .prize-icon;
                height: 29px;
                margin-bottom: 1px;

                &:before {
                    background-image: url(/img/m-time.svg);
                }
            }
        }
    }

    .user {
        &-wrap {
            text-decoration: none;
        }
        &-avatar {
            border-radius: 50%;
        }
        &-name {
            color: #414141;
            font-size: 20px;
            margin-top: 15px;
            text: {
                decoration: none;
                transform: uppercase;
            }
        }
    }
}

@media (min-width: 768px) {
    #category-navbar {
        position: static;
        .navbar-wrapper {
            height: 65px;
        }
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin: 0 auto;
    }
    .navbar-toggle {
        display: block;
    }
}
